body {
  background: #1b676b;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
}

p {
  font-weight: 600;
}

#game-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.static-disk {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
}

#static-white-disk {
  background-color: white;
}

#static-black-disk {
  background-color: black;
}

.score {
  background-color: mediumturquoise;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 100px;
}

#game-content {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.new-game-button {
  background-color: mediumturquoise;
  border: none;
  border-radius: 15px;
  padding: 1em;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  margin: 1em 0em;
}

/*
* CSS pour le rainbow text
*
*/
.shadowBox {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/opacity/see-through */
  /* border: 3px solid; */
  padding: 1em;
}

.rainbow {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  font-family: monospace;
  letter-spacing: 5px;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}
